/* html, body {
    margin: 0;
    padding: 0;
} */

h1, h2 {
    text-align: center;
}

#menu_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    z-index: 2;
}

#name {
    background-color: rgb(135, 152, 245);
    border-bottom: solid white 0.4rem;
}

#who, #proj {
    text-align: center;
    transition: all 0.2s;
    font-size: larger;
    background-color: rgb(135, 152, 245);
}

#who {
    border-right: solid white 0.2rem;
}

#proj {
    border-left: solid white 0.2rem;
}

#who:hover {
    transform-origin: top right;
    transform: scaleX(1.1) scaleY(1.1);
}

#proj:hover {
    transform-origin: top left;
    transform: scaleX(1.1) scaleY(1.1);
}

#bop {
    position: fixed;
    width: 15%;
    height: auto;
    right: 2%;
    bottom: 2%;
}